<mat-nav-list class="mat-list">
  <h3 mat-subheader>Project</h3>
  <a mat-list-item [routerLink]="['/projects']" (click)="onNavClick()">
    <mat-icon mat-list-icon>list</mat-icon>
    <h4 mat-line>Project Home</h4>
    <p mat-line>View all projects of yours </p>
  </a>

  <a *ngFor="let project of projects" mat-list-item [routerLink]="['/tasklists', project.id]" (click)="onNavClick()">
    <!-- <mat-icon mat-list-icon>list</mat-icon> -->
    <img [src]="project.coverImg" matListAvatar>
    <h4 mat-line>{{project.name}}</h4>
    <p mat-line>{{project.desc}}</p>
  </a>
  

  <mat-divider></mat-divider>

  <!-- <h3 mat-subheader>Calendar</h3>
  <mat-list-item [routerLink]="['/tasklists']" (click)="onNavClick()">
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <h4 mat-line>Monthly View</h4>
    <p mat-line mat-subheader>View tasks by month</p>
  </mat-list-item> -->
  <!-- <mat-list-item (click)="onNavClick()">
    <mat-icon mat-list-icon svgIcon="week"></mat-icon>
    <h4 mat-line>Weekly View</h4>
    <p mat-line mat-subheader>View tasks by week</p>
  </mat-list-item>
  <mat-list-item (click)="onNavClick()">
    <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
    <h4 mat-line>Daily View</h4>
    <p mat-line mat-subheader>View tasks by day</p>
  </mat-list-item> -->
</mat-nav-list>
