[mat-fab]{
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
}

app-project-item{
    margin-left: 1rem;
    margin-top: 1rem;
}