<div [formGroup]="chips">
  <span>{{label}}</span>
  <mat-chip-list>
    <mat-chip selected="true" color="primary" *ngFor="let member of items">
      {{member.first_name + " " + member.last_name}}
      <button class="btn-remove-member" mat-icon-button type="button" (click)="removeMember(member)"><mat-icon>remove_circle_outline</mat-icon></button>
    </mat-chip>
  </mat-chip-list>

  <mat-input-container *ngIf="displayInput" class="full-width">
    <input type="text" matInput [placeholder]="placeholderText" [matAutocomplete]="autoMember" formControlName="memberSearch">
  </mat-input-container>
</div>

<mat-autocomplete #autoMember="matAutocomplete" [displayWith]="displayUser" (optionSelected)="handleMemberSelection($event)">
  <mat-option *ngFor="let member of memberResults$ | async" [value]="member">{{member.first_name + " " + member.last_name}}</mat-option>
</mat-autocomplete>