svg{
    height: 50px;
    width: 50px;
}

a{
    font-size: 16px;
    margin: 0 40px;
}

.signature-container{
    font-size: 12px;
    flex: 1 1 auto;
    justify-content: flex-end;
    display: flex;
    word-wrap: break-word; 
    word-break: normal; 
}