<div class="full-height d-center">
  <mat-card class="login-card">
    <h2>Register</h2>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email">
          <mat-hint>your email address</mat-hint>
          <mat-error>must be a valid email address</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Username">
          <mat-hint>account username</mat-hint>
          <mat-error>required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="First name">
          <mat-hint>your first name</mat-hint>
          <mat-error>required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Last name">
          <mat-hint>your last name</mat-hint>
          <mat-error>required</mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password">
          <mat-hint>password</mat-hint>
          <mat-error>required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Confirm password">
          <mat-error>password not match</mat-error>
        </mat-form-field>

        <mat-grid-list cols="8">
          <mat-grid-tile *ngFor="let item of items">
            <mat-icon  class="avatar" [svgIcon]="item"></mat-icon>
          </mat-grid-tile>
        </mat-grid-list>
  
        <button mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <p>Already have an account, 
        <a routerLink="/account/login">login</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>