<form class="page-container" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card class="card">
    <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">
      <mat-tab label="Account Information">
        <div class="d-flex">
          <div>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Username" formControlName="username" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Confirm password" formControlName="confirm_password" required>
            </mat-form-field>
          </div>

          <div class="image-list-select-container">
            <app-image-list-select [useSvgIcon]="true" [cols]="5" [title]="'Choose an avatar:'" [items]="avatars$ | async" formControlName="avatar"
              required>
            </app-image-list-select>
          </div>
        </div>



        <div class="action-area">
          <button mat-raised-button type="button" (click)="nextTab()">Next</button>
          <div class="has-account">Already have an account?
            <a routerLink="/login">login</a>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Personal Information">
        <mat-form-field>
          <input matInput type="text" placeholder="First name" formControlName="first_name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Last name" formControlName="last_name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="datepicker" placeholder="Date of birth" formControlName="dateOfBirth">
          <mat-hint align="end">optional</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker startView="year"></mat-datepicker>
        </mat-form-field>

        <div class="full-width">
          <button mat-raised-button type="button" (click)="prevTab()">Last step</button>
          <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid" class="btn-register">Register</button>
          <div class="has-account">Already have an account？
            <a routerLink="/login">Login</a>
          </div>

          <!-- <span>Forget <a routerLink="/forgot">password?</a></span> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>