<mat-sidenav-container [ngClass]="{'dark-theme': darkTheme}">
  <mat-sidenav #sidenav mode="push">
    <app-sidebar (navClick)="sidenav.toggle()" [projects]="projects$ | async"></app-sidebar>
  </mat-sidenav>


  <mat-sidenav-content class="page-container">
    <header>
      <app-header (toggleSidenav)="sidenav.toggle()" (toggleTheme)="toggleTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>