<mat-card (click)="onClick()">
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="item.coverImg" alt="project cover"/>
  <mat-card-content>
    {{item.desc}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button type="button" (click)="onEditClick($event)">
      <mat-icon>mode_edit</mat-icon>
    </button>

    <button mat-icon-button type="button" (click)="onInviteClick($event)">
      <mat-icon>group_add</mat-icon>
    </button>

    <button class="btn-delete"  mat-icon-button type="button" (click)="onDeleteClick($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>