<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleClick()" *ngIf="(auth$ | async).token">
    <mat-icon>menu</mat-icon>
  </button>
  
  <a mat-icon-button routerLink="/projects" routerLinkActive="active" aria-label="Navigate to home page">
    <mat-icon aria-hidden="true">home</mat-icon>
  </a>

  <button [disabled]="(navigationId$ | async) <= 1 || (url$ | async) === '/account/login'" mat-icon-button (click)="navigateBack()"><mat-icon>arrow_back</mat-icon></button>
  
  <a mat-button routerLink="/account/login" routerLinkActive="active" *ngIf="!(auth$ | async).token">Login</a>
  <a mat-button routerLink="/account/register" routerLinkActive="active" *ngIf="!(auth$ | async).token">Register</a>

  <mat-slide-toggle class="ml-auto" (change)="onToggleTheme($event.checked)" color="primary">Dark</mat-slide-toggle>
  <span><a mat-button *ngIf="(auth$ | async).token" (click)="logout()">Logout</a></span>
</mat-toolbar>